<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Front webpage/styles.css" />
    <script
      src="https://kit.fontawesome.com/7f03ef395a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container banner-bg">
      <div class="center-text banner-header">
        <h2>Front make you look at things from a different propectives</h2>
        <a href="#" class="btn-primary"
          ><i class="fa-solid fa-circle-play"></i>Play Video</a
        >
      </div>
      <img src="/Front webpage/imgs/banner_one.jpg" alt="" class="banner-img" />
    </div>
  </body>
</html>
