<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Front webpage/styles.css" />
    <script
      src="https://kit.fontawesome.com/7f03ef395a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="center-text">
        <h2>Key Benefits</h2>
        <p>Design faster with a growing array of Beautiful templates</p>
      </div>
      <div class="grid-container">
        <div class="card-container benefits-card">
          <img
            src="/Front webpage/imgs/responsive.svg"
            alt=""
            class="card-icon"
          />
          <h3>Responsive</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
            ullam, cumque quia libero vitae voluptatum tempore.
          </p>
          <a href="#" class="btn-clear">Learn More</a>
        </div>
        <div class="card-container benefits-card">
          <img
            src="/Front webpage/imgs/customizable.svg"
            alt=""
            class="card-icon"
          />
          <h3>Customizable</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
            ullam, cumque quia libero vitae voluptatum tempore.
          </p>
          <a href="#" class="btn-clear">Learn More</a>
        </div>
        <div class="card-container benefits-card">
          <img
            src="/Front webpage/imgs/premium.svg"
            alt=""
            class="card-icon block"
          />
          <div class="card-head">
            <h3 class="inline">Premium</h3>
            <span class="badge">sketch</span>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
            ullam, cumque quia libero vitae voluptatum tempore.
          </p>
          <a href="#" class="btn-clear">Learn More</a>
        </div>
        <div class="card-container benefits-card">
          <img
            src="/Front webpage/imgs/documentation.svg"
            alt=""
            class="card-icon"
          />
          <h3>Documentation</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
            ullam, cumque quia libero vitae voluptatum tempore.
          </p>
          <a href="#" class="btn-clear">Learn More</a>
        </div>
      </div>
    </div>
  </body>
</html>
