<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Front webpage/styles.css" />
    <script
      src="https://kit.fontawesome.com/7f03ef395a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="director-container">
      <div class="director-img-container">
        <img src="/Front webpage/imgs/dots.svg" alt="" class="dots" />
        <img
          src="/Front webpage/imgs/woman_three.jpg"
          alt=""
          class="director-img"
        />
      </div>
      <div class="container hubspot-container">
        <img src="/Front webpage/imgs/hubspot.svg" alt="" class="hubspot" />
        <p class="director-quote">
          The template is a really nice and offers quite a large set of options.
          It's beautiful and the coding is done quickly and seamlessly. Thank
          you!
        </p>
        <p class="director-name">Christina Kray</p>
        <p class="director">Executive Director</p>
      </div>
    </section>
  </body>
</html>
