<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Front webpage/styles.css" />
    <script
      src="https://kit.fontawesome.com/7f03ef395a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="feature-card">
        <img
          src="/Front webpage/imgs/components.svg"
          alt=""
          class="card-icon"
        />
        <h3>Hundreds of components</h3>
        <p>
          Achieve maximum productivity with minimum effort with Front and create
          robust Limitless products.
        </p>
      </div>
      <div class="feature-card">
        <img src="/Front webpage/imgs/images.svg" alt="" class="card-icon" />
        <h3>Images encluded</h3>
        <p>
          Images included We made custom license for all our premium images in
          the front.
        </p>
      </div>
      <div class="feature-card">
        <img
          src="/Front webpage/imgs/cancel.svg"
          alt=""
          class="card-icon block"
        />
        <h3 class="feature-header">Cancel anytime</h3>
        <span class="badge">sketch</span>
        <p>If its not for you, just cancel, no hidden costs or fees.</p>
      </div>
      <div class="feature-card">
        <img src="/Front webpage/imgs/moneyback.svg" alt="" class="card-icon" />
        <h3>Money back</h3>
        <p>100% guatanteed money back. No questions asked.</p>
      </div>
    </div>
  </body>
</html>
