<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Front webpage/styles.css" />
    <script
      src="https://kit.fontawesome.com/7f03ef395a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <footer>
    <div class="footer-contact">
        <img src="/Front webpage/imgs/logo.svg" alt="company logo">
        <p><i class="fa-solid fa-location-arrow"></i> 153 Williamson Plaza, Maggieberg</p>
        <p><i class="fa-solid fa-phone"></i>+1 (062) 109-9222</p>
    </div>
    <div class="footer-lists footer-company">
        <h3>Company</h3>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Career <span class="primary-badge">We're hiring</span></a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Customers</a></li>
            <li><a href="#">Hire us</a></li>
        </ul>
    </div>
    <div class="footer-lists footer-features">
        <h3>Features</h3>
        <ul>
            <li><a href="#">Press</a></li>
            <li><a href="#">Release notes</a></li>
            <li><a href="#">Integrations</a></li>
            <li><a href="#">Pricing</a></li>
        </ul>
    </div>
    <div class="footer-lists footer-documentation">
        <h3>Documentation</h3>
        <ul>
            <li><a href="#">Support</a></li>
            <li><a href="#">Docs</a></li>
            <li><a href="#">Status</a></li>
            <li><a href="#">API Reference</a></li>
            <li><a href="#">Tech Requirements</a></li>
        </ul>
    </div>
    <div class="footer-lists footer-resources">
        <h3>Resources</h3>
        <ul>
            <li><a href="#"><i class="fa-solid fa-circle-info"></i> Help</a></li>
            <li><a href="#"><i class="fa-solid fa-circle-user"></i> Your Account</a></li>
        </ul>
    </div>
    <hr>
    <div class="footer-lists footer-links">
        <a href="#">Privacy & Policy</a>
        <span><i class="fa-solid fa-greater-than"></i></span>
        <a href="#">Terms</a>
        <span><i class="fa-solid fa-greater-than"></i></span>
        <a href="#">Site Map</a>
    </div>
    <div class="footer-socials">
        <a href="#" class="footer-social-link"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#" class="footer-social-link"><i class="fa-brands fa-google"></i></a>
        <a href="#" class="footer-social-link"><i class="fa-brands fa-twitter"></i></a>
        <a href="#" class="footer-social-link"><i class="fa-brands fa-reddit"></i></a>
    </div>
        <select name="countries" id="country" class="countries">
            <option value="usa">United States</option>
            <option value="canada">Canada</option>
            <option value="uk">United Kingdom</option>
            <option value="france">France</option>
            <option value="germany">Germany</option>
            <option value="italy">Italy</option>
        </select>
    <div class="footer-copyright">
        <p>&copy; Front. 2022 Responsive designs. All rights reserved.</p>
        <p>When you visit or interact with our sites, services or tools, we or our authorised service providers may use cookies for stoting information to help provide you with a better, faster and safer experience and for marketing purposes.</p>
    </div>
  </footer>
  </body>
</html>