<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Front webpage/styles.css" />
    <script
      src="https://kit.fontawesome.com/7f03ef395a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="hero-text">
        <h1 class="hero-header">Empowering teams with the freedom</h1>
        <p>Own the unlimited power of the web development</p>
        <a href="#" class="btn-primary hero-btn"
          ><i class="fa-solid fa-circle-play"></i>Play Video</a
        >
        <a href="#" class="btn-clear">Learn More</a>
      </div>
      <div class="hero-icons">
        <div class="circle-icon google-icon" style="margin-bottom: 30px">
          <img src="/Front webpage/imgs/google.png" alt="asana image" />
        </div>
        <div class="circle-icon atlassian-icon" style="margin-bottom: 30px">
          <img src="/Front webpage/imgs/atlassian.png" alt="asana image" />
        </div>
        <div class="circle-icon asana-icon" style="margin-bottom: 30px">
          <img src="/Front webpage/imgs/asana.png" alt="asana image" />
        </div>
        <div class="circle-icon paypal-icon" style="margin-bottom: 30px">
          <img src="/Front webpage/imgs/paypal.jpg" alt="asana image" />
        </div>
        <div class="circle-icon weave-icon" style="margin-bottom: 30px">
          <img src="/Front webpage/imgs/weave.png" alt="asana image" />
        </div>
        <div class="circle-icon google-a" style="margin-bottom: 30px">
          <img src="/Front webpage/imgs/google-A.png" alt="asana image" />
        </div>
        <div class="circle-icon calendar-icon" style="margin-bottom: 30px">
          <img src="/Front webpage/imgs/calendar.png" alt="asana image" />
        </div>
      </div>
    </div>
  </body>
</html>
