<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Front webpage/styles.css" />
    <link rel="stylesheet" href="/Front webpage/normalize.css" />
    <script
      src="https://kit.fontawesome.com/7f03ef395a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="hire-container">
      <div class="container hire-head-container">
        <h2 class="white-text hire-header">Hire Us</h2>
        <p>Whatever your goal - we will get you there</p>
        <hr />
        <p class="white-text">
          "I love front! I love the ease of use, I love that fact that I have
          total creative freedom..."
        </p>
        <h3 class="white-text charlotte">Charlotte Moore</h3>
        <p class="charlotte-title">Head of commercials, Slack</p>
        <img
          src="/Front webpage/imgs/woman_two.jpg"
          alt=""
          class="people-img"
        />
        <img
          src="/Front webpage/imgs/woman_one.jpg"
          alt=""
          class="people-img"
        />
        <img
          src="/Front webpage/imgs/man_one.jpg"
          alt=""
          class="people-img-main"
        />
      </div>
      <div class="container form-container">
        <form action="get" class="container">
          <h3>Fill out the form and we'll be in touch as soon as possible</h3>
          <input type="text" placeholder="First name" class="hire-input" />
          <input type="text" placeholder="Last name" class="hire-input" />
          <input type="text" placeholder="First name" class="hire-input" />
          <input type="text" placeholder="Last name" class="hire-input" />
          <select name="budget" id="budget" class="hire-input">
            <option value="" disabled selected hidden>budget</option>
            <option value="0-50">0$-50$</option>
            <option value="50-100">50$-100$</option>
            <option value="100-500">100$-500$</option>
            <option value="500+">500$+</option>
          </select>
          <select name="country" id="country" class="hire-input">
            <option value="" disabled selected hidden>country</option>
            <option value="usa">United States</option>
            <option value="canada">Canada</option>
            <option value="uk">United Kingdom</option>
            <option value="france">France</option>
            <option value="germany">Germany</option>
            <option value="italy">Italy</option>
          </select>
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="Tell us more about your project needs, and timeline please..."
            class="hire-input"
          ></textarea>
          <span>
            <input type="checkbox" />
            <label for="checkbox" class="checkbox-label"
              >Yes, I'd like to receive ocasional marketing emails from Front. I
              have the right to opt out at any time.</label
            >
          </span>
          <a href="#" class="form-privacy">View privacy policy</a>
          <a href="#" class="btn-primary form-btn">Get Started</a>
        </form>
      </div>
    </section>
  </body>
</html>
