<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Front webpage/styles.css" />
    <script
      src="https://kit.fontawesome.com/7f03ef395a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="circle-icon" style="margin-bottom: 30px">
      <img src="/Front webpage/imgs/asana.png" alt="asana image" />
    </div>
    <img src="/Front webpage/imgs/cancel.svg" alt="" class="card-icon" />
    <div class="list-icon">
      <span class="icon-dot">
        <i class="fa-solid fa-circle"></i>
      </span>
    </div>
  </body>
</html>
