<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Front webpage/styles.css" />
    <script
      src="https://kit.fontawesome.com/7f03ef395a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <nav class="navbar nav" id="topNav">
    <div class="container nav-container">
        <a href="index.html" class="navbar-brand"><img src="/Front webpage/imgs/logo.svg" alt=""></a>
      <button
        class="navbar-toggle"
        aria-expanded="false"
        aria-controls="navbarDropdown"
      >
        <span>&#9776;</span>
      </button>
      <ul class="nav-list">
        <li class="nav-link"><a href="#" class="nav-a">Home</a></li>
        <li class="nav-link"><a href="#" class="nav-a">features</a></li>
        <li class="nav-link"><a href="#" class="nav-a">Learn</a></li>
        <li class="nav-link"><a href="#" class="nav-a">Pricing</a></li>
        <li class="nav-link"><a href="#" class="nav-a">Hire us</a></li>
        <li class="nav-link"><a href="#" class="btn-primary nav-btn">Buy Now</a></li>
      </ul>
    </div>
  </nav>
  </body>
</html>