<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Front webpage/styles.css" />
    <script
      src="https://kit.fontawesome.com/7f03ef395a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container price-container">
      <div class="center-text">
        <h2>Pricing</h2>
        <p>No additional costs. Pay for what you use</p>
      </div>
      <div class="card-container center-text">
        <span class="price">59</span>
        <span> / mo</span>
        <hr />
        <p class="price-text">
          Start your Front business now. 100% guaranteed money back. No
          questions asked.
        </p>
        <a href="#" class="btn-primary price-btn"
          ><i class="fa-solid fa-circle-play"></i>Play Video</a
        >
        <p class="price-addendum">No credit card required</p>
      </div>
    </div>
  </body>
</html>
