<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Front webpage/styles.css" />
    <script
      src="https://kit.fontawesome.com/7f03ef395a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container center-text">
      <h2 class="trusted-header">trusted by world's best</h2>
      <div class="trusted-brands">
        <img src="/Front webpage/imgs/weebly.svg" alt="" class="trusted-imgs" />
        <img src="/Front webpage/imgs/uber.svg" alt="" class="trusted-imgs" />
        <img src="/Front webpage/imgs/slack.svg" alt="" class="trusted-imgs" />
        <img src="/Front webpage/imgs/airbnb.svg" alt="" class="trusted-imgs" />
        <img src="/Front webpage/imgs/slack.svg" alt="" class="trusted-imgs" />
      </div>
    </div>
  </body>
</html>
