<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Front webpage/styles.css" />
    <script
      src="https://kit.fontawesome.com/7f03ef395a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="center-text why-header">
        <h2>Why front?</h2>
        <p>
          Front is an incredibly beautiful, fully responsive, and mobile-first
          project on the web - it is the starting point for creative sites
        </p>
      </div>
      <div class="why-list-container">
        <ul class="why-list">
          <li>
            <div class="list-icon">
              <span class="icon-dot">
                <i class="fa-solid fa-circle"></i>
              </span>
            </div>
            <span class="why-list-text">Basic elements</span>
          </li>
          <li>
            <div class="list-icon">
              <span class="icon-dot">
                <i class="fa-solid fa-circle"></i>
              </span>
            </div>
            <span class="why-list-text">Components</span>
          </li>
          <li>
            <div class="list-icon">
              <span class="icon-dot">
                <i class="fa-solid fa-circle"></i>
              </span>
            </div>
            <span class="why-list-text">Combined components</span>
          </li>
          <li>
            <div class="list-icon">
              <span class="icon-dot">
                <i class="fa-solid fa-circle"></i>
              </span>
            </div>
            <span class="why-list-text">Page layouts</span>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
